<div class="card" style="height: 100vh;overflow: hidden">
  <div class="row p-0 m-0"  style="
  overflow: hidden;height: 95vh">
   <div class="col-8 p-0 m-0">
       <div class="row p-0 m-0">
         <!--contact side menubar-->
         <div class="row p-0 m-0 mt-4">
             <div class="col-1 p-0 m-0"></div>
           <div class="col-1 m-0 p-0 d-flex flex-column col-10 ">
             
             <img class="py-1 pr-2 mb-3" src="assets/facebok.png" style="height: 40px;width: 40px;">
             <img class="py-1 pr-2 mb-3" src="assets/twitter.svg" style="height: 40px;width: 40px;">
             <img class="py-1 pr-2 mb-3" src="assets/link.png" style="height: 40px;width: 40px;">
             <img class="py-1 pr-2 mb-3" src="assets/github.png" style="height: 40px;width: 40px;">
             <img class="py-1 pr-2 mb-3" src="assets/gmail.svg" style="height: 40px;width: 40px;">
             </div>
             <div class="col-1 p-0 m-0"></div>
         </div>
           <!--description of the app-->
       <div class="card bg-dark text-dark col-11 m-0 p-0 border-0">
         <img class="card-img pb-1" src="assets/signupgify.gif" style="background-color:rgb(255, 255, 255);height: 93vh" alt="Card image">
         <div class="card-img-overlay">
           <h1 class="card-title" style="font-family: Josephin Slab, serif;">ISSUS</h1>
           <h4 class="card-text" style="font-family:Josephin Slab, serif;">An issue tracking initiative.</h4>
         </div>
       </div>
       </div>
   </div>
   <div class="col-4 pl-0 ml-0 pr-4">
   <!--Sign up-->
 
   <div class="card text-center mt-2" >
       <div class="card-header" style="font-size: 30px">
         Sign up
       </div>
       <div class="card-body">
         <h5 class="card-title">Fill the form to register</h5>
         
         <div class="input-group mb-3">
             <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1"><img src="assets/user.svg" style="height:20px;width: 20px;"></span>
             </div>
             <input type="text" [(ngModel)]="firstName" class="form-control" placeholder="First name" aria-label="firstname" aria-describedby="basic-addon1">
           </div>

           <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><img src="assets/user.svg" style="height:20px;width: 20px;"></span>
              </div>
              <input type="text" [(ngModel)]="lastName" class="form-control" placeholder="Last name" aria-label="lastname" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><img src="assets/emailicon.png" style="height:20px;width: 20px;"></span>
                </div>
                <input type="email" [(ngModel)]="email" class="form-control" placeholder="Email@example.com" aria-label="email" aria-describedby="basic-addon1">
              </div>

              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><img src="assets/phoneicon.svg" style="height:20px;width: 20px;"></span>
                  </div>

                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{countriesSc[countries.indexOf(select.value)]}}</button>
                    <button class="btn btn-outline-secondary" type="button">{{countryCode}}</button>
                    <div class="dropdown-menu px-2" >
                      <input list="countries" name="country" [(ngModel)]="selected" #select = 'ngModel' (ngModelChange)="codeChange()">
  <datalist id="countries">
    <option *ngFor="let country of countries; let i=index" value={{country}} >
  </datalist>
                    </div>
                  </div>

                  <input type="tel" maxlength="10" [(ngModel)]="mobileNo" class="form-control" placeholder="Mobile no." aria-label="mobilenumber" aria-describedby="basic-addon1">
                </div>

           <div class="input-group mb-3">
               <div class="input-group-prepend">
                 <span class="input-group-text" id="basic-addon1"><img src="assets/password.png" style="height:20px;width: 20px;"></span>
               </div>
               <input ype="text" class="form-control p-3" [(ngModel)]="password" placeholder="Password" type="password"  pPassword />
             </div>

             <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><img src="assets/confirmpassicon.png" style="height:20px;width: 20px;"></span>
                </div>
                <input type="password" [(ngModel)]="repass" class="form-control" placeholder="Confirm password" aria-label="confirmpassword" aria-describedby="basic-addon1">
              </div>

         <a class="btn btn-primary" (click)="signUp()" style="font-size: 15px">sign up</a>
       </div>
       <div class="card-footer bg-white">
          <p class="pb-0" style="font-size: 15px">or</p>
           <button type="button" (click)="goToLogin()" class="btn btn-light btn-lg btn-block">
               <img src="assets/signup.png" style="height: 30px;width: 30px" class="my-1">
               <small style="font-size: 15px" class="my-1 ml-1">You can login over here</small></button>
         </div>
      </div> 
     </div>
   
  
</div>
<div class="card-footer text-white bg-dark text-right" style="font-size: 10px">
  V1.0
</div>
</div>
<p-toast key="firstName" position="top-left"></p-toast>
<p-toast key="lastName" position="top-left"></p-toast>
<p-toast key="mobileNo" position="top-left"></p-toast>
<p-toast key="email" position="top-left"></p-toast>
<p-toast key="password" position="top-left"></p-toast>
<p-toast key="repassword" position="top-left"></p-toast>
<p-toast key="emailsent" position="top-left"></p-toast>
<p-toast key="errServer" position="top-left"></p-toast>
<p-toast key="regno" position="top-left"></p-toast>





